{% extends 'base.html' %}

{% block title %} Blogpost{% endblock title %}

{% block css %}


.row img .image{
margin-top: 12px;
height: 41px;
width: 46px;
margin-left: 24px;
}


.row img {
height: 66px;
width: 74px;
border: 2px solid;
border-radius: 20px;
}

.mx {
margin-left: 213px;
/* margin-top: 107px; */
}


<!-- .repimg {
  height: 50px;
  width: 50px;
  margin-left: 38px;
  margin-top: 8px;
} -->


{% endblock css %}


{% block body %}

{% load humanize %}
{% load extras %}
<div class="container my-3">

  <h2 class="blog-post-title">{{post.title}}</h2>
  <p class="blog-post-meta">{{post.timestamp}} by <a href="' %}">{{post.author}}</a></p>

  <p>{{post.content|safe}}</p>
  <hr>
</div>



<div class="container">
  <h2>Comment({{comments.count}})</h2>
  <div class="my-2">
    {% if user.is_authenticated %}
    <form action="/blog/postComment" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="comment">Post Comment</label>
        <input type="text" class="form-control" name="comment" placeholder="Enter comment here">

      </div>
      <input type="hidden" name="postSno" value="{{post.sno}}">
      <input type="hidden" name="parentSno" value="">
      <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
    {% else %}
    Please login to post a comment
    {% endif %}
  </div>
  {% for comment in comments %}

  <div class="row my-3">
    <div class="col-md-1">
      <img src="/static/user.jpg" alt="" srcset="">
    </div>
    <div class="col-md-11"><b> {{comment.user.username }} </b> <span
        class="badge badge-secondary">{{comment.timestamp|naturaltime}} </span>
      <div>{{comment.comment}} </div>
      <div class="replay">
        {% if user.is_authenticated %}
        <button class="btn btn-primary btn-sm mt-2" type="button" data-toggle="collapse" data-target="#replay{{comment.sno}}"
          aria-expanded="false" aria-controls="replay{{comment.sno}}">
          Replay
        </button>

        <div class="collapse my-2" id="replay{{comment.sno}}">
          <div class="card card-body">

            <form action="/blog/postComment" method="post">
              {% csrf_token %}

              <div class="form-group">
                <label for="comment">Post Replay</label>
                <input type="text" class="form-control" name="comment" placeholder="Enter replay here">
                <input type="hidden" name="parentSno" value="{{comment.sno}}">
              </div>
              <input type="hidden" name="postSno" value="{{post.sno}}">
              <button type="submit" class="btn btn-primary my-2">Submit</button>
            </form>
          </div>
        </div>
        {% else %}
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#replay{{comment.sno}}"
          aria-expanded="false" aria-controls="replay{{comment.sno}}" disabled>
          Login to reply
        </button>
        {% endif %}

        <div class="replies my-2">
          {% for reply in replyDict|get_val:comment.sno %}
          <div class="row my-2">
            <div class="col-md-1">
              <img class="image" src="/static/user.jpg" alt="" srcset="" style="
    margin-top: 9px;
    height: 50px;
    width: 46px;
    margin-left: 25px;
">

            </div>
            <div class="col-md-11">
              <div class="col-md-11 ">
                <b> {{reply.user.username}} </b> <span
                  class="badge badge-secondary ">{{reply.timestamp| naturaltime}}</span>
                <div>{{reply.comment}}</div>
              </div>
              <hr>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endblock %}